# Gradle / Kotlin
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/*.g.dart.bak

# Node / pnpm
node_modules/
.next/
.pnpm-store/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Env / secrets
.env
.env.local
.env.*.local

# IDE
# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db