POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=wasla
POSTGRES_PASSWORD=wasla_local_only
POSTGRES_CONTROL_DB=wasla_control
POSTGRES_TENANT_DB=wasla_tenant

REDIS_HOST=localhost
REDIS_PORT=6379

REDPANDA_BROKERS=localhost:9092

AZURITE_BLOB_ENDPOINT=http://127.0.0.1:10000/devstoreaccount1

KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin_local_only

CLAMAV_HOST=localhost
CLAMAV_PORT=3310

MAILHOG_SMTP_HOST=localhost
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_URL=http://localhost:8025

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
GRAFANA_URL=http://localhost:3300